/*esto es un selector (por etiqueta), acompañadao de propiedades:valores*/
body {
    background-color: #f0f4f8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: black;

}

.titulo{
    /*esto estaría - probar otra fuente*/
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.tarjeta {
    width: 600px;
    padding: 5px;
    margin: 15px auto;
    border: solid #000000  3px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    background-color: #CF0F47;
}

.perfil {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid #000000;
    margin-bottom: 15px;

}

.avatar:hover {
    transform: scale(1.05);
}

.ocupacion {
    margin: 5px 0;
    font-weight: bold;
    color: #4CAF50;
}

.descripcion {
    font-size: 14px;
    color:crimson;
    line-height: 1.4;
    margin-top: 10px;
}

.lista{
    text-align:left;
    margin: 10px 0px;
    font-weight: bold;
    color:rgb(19, 1, 5);
    
}

.principal{
    background-color: #FF0B55;
    border-radius: 12px;
    padding: 5px;
    margin: 15px;
     border: solid #000000  3px;
    border-radius: 10px;
}

.secundario{
    background-color: #FFDEDE;
    border-radius: 12px;
    padding: 5px;
    margin: 15px;
    border: solid #000000  3px;
    border-radius: 10px;
}

/*Selector universal (*) signigica que aplica a todos los elementos de html, se usa generalmente cuando se quiere resetear*/
/*y es muy importante, se usa para sacar el relleno en principio*/

/*selector por clase, aplica a todos los selectores que tengan la clase, se 
identifica "class=colorfucsia" un color de referencia que se
entienda a donde aplica. Y en css va con "." y el nombre que se puso*/

/*los id es un atributo y los utilizaria para js y class para css
*/
/*selector descendente va padre e hijo por ejemplo div p
div p{}*/

/*selector hijo directo por ejemplo section>
section > span {}*/

/*selector de atributo, en este caso quiere decir que hace referencia al texto
input[tyo="text"] {
}
*/

