/*esto es un selector (por etiqueta), acompañadao de propiedades:valores*/
body {
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo{
    text-align:center;
    margin: 10px 0px;
    font-weight: bold;
}


.tarjeta {
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: 10px auto;
    border: 5px solid #4CAF50;
    border-radius: 12px;
    text-align: center;
    color: #333;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #4CAF50;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

h1 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #2c3e50;
}

.ocupacion {
    margin: 5px 0;
    font-weight: bold;
    color: #4CAF50;
}

.descripcion {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
}

.lista{
    text-align:left;
    margin: 10px 0px;
    font-weight: bold;
}
/*Selector universal (*) signigica que aplica a todos los elementos de html, se usa generalmente cuando se quiere resetear*/
/*y es muy importante, se usa para sacar el relleno en principio*/

/*selector por clase, aplica a todos los selectores que tengan la clase, se 
identifica "class=colorfucsia" un color de referencia que se
entienda a donde aplica. Y en css va con "." y el nombre que se puso*/

/*los id es un atributo y los utilizaria para js y class para css
*/
/*selector descendente va padre e hijo por ejemplo div p
div p{}*/

/*selector hijo directo por ejemplo section>
section > span {}*/

/*selector de atributo, en este caso quiere decir que hace referencia al texto
input[tyo="text"] {
}
*/